header p,
header h1 {
  color: #ffffff;
}

.nav {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
}

#text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 960px;
}

#name-header {
  font-size: 30px;
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
}

#contact-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 3px;
  padding: 0px 15px;
  text-decoration: none;
  color: #ffffff;
}

#about-header {
  padding: 14px 15px 13px;
  border-radius: 1px;
}

#contact-container:hover,
#about-header:hover {
  background-color: white;
  color: black;
}

#contact-container p {
  color: inherit;
}

#contact-container p {
  margin-left: 5px;
}

#right-header {
  display: flex;
  align-items: center;
}

#about-header,
#contact-container p {
  text-transform: uppercase;
  font-size: 14px;
}

.image-container-header {
  background-image: url("https://i.imgur.com/0E37FoQ.jpg");
  height: 376px;
  width: 100%;
  font-weight: bold;
}

.image-container-header h1 {
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 71px;
  width: 940px;
  margin: 0;
}

#image-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.image-container-header a {
  font-size: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 260px;
  padding: 10px 0px;
}

.image-container-header a:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
  color: #ffffff;
}
