#about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-text-container p:nth-child(3) {
  font-weight: bold;
  text-align: center;
}

.about-address {
  margin-bottom: 60px;
}

.about-address p {
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
